apiVersion: apps/v1
kind: Deployment
metadata:
  name: devsolutions-deploy
spec:
  replicas: 2
  selector:
    matchLabels:
      app: web
  template:
    metadata:
      labels:
        app: web
    spec:
      containers:
      - name: devsolutions-web
        image: devsolutions-web:v1
        imagePullPolicy: Never 
        ports:
        - containerPort: 80